<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf" />
  </configSections>
  <modules>
    <module assemblyFile="Bond.dll" moduleType="Bond.BondModule, Bond, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="Bond" startupLoaded="true" />
    <module assemblyFile="Equity.dll" moduleType="Equity.EquityModule, Equity, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="Equity" startupLoaded="true" />
    <module assemblyFile="Fund.dll" moduleType="Fund.FundModule, Fund, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="Fund" startupLoaded="true" />    
  </modules>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>